<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/formate.css') }}">
    <title>Læra islensku</title>
  </head>
  <body>
    <br>
    <h1>Welkomin til 'Við lærum islensku!'</h1>
    <p/>
    Hvernig segir maður <br>
    <div class="wort">{{ wort }}</div>
    á íslensku?
    <br><br><br>
    <form method='POST' action='/lausn'>
        <p><input value='Sýna lausn' type='SUBMIT'></p>
    </form>
    <br><br><br><br><br>
    <hr class="bluelarge">

    <A name=BOTTOM></A>
    <div id="footer_container">
      <div id="footer">
        <table style="width:90%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
          <tbody>
            <tr>
              <td style="width: 40%;"></td>
              <td class="small2" style="width: 20%;">
                <a href="http://www.slomka.biz/de/impressum.html" name="Impressum"><span class="small2">Impressum</span></a>
                <a href="http://www.slomka.biz/de/disclaimer.html" name="Disclaimer"><span class="small2">Disclaimer</span></a>
                <a href="http://www.slomka.biz/de/privacy.html" name="Datenschutz"><span class="small2">Datenschutz</span></a>
              </td>
              <td class="small2" style="width: 40%; text-align: right;"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
<html>