<!DOCTYPE html>
<html lang="en">
  <head>
    <META http-equiv=Content-Type content=text/html;charset=ISO-8859-1>
    <META name=publisher content="Holger Slomka">
    <META name=copyright content="H. Slomka">
    <META name=page-topic content=learnign islandic>
    <META name=audience content=All>
    <META name=expires content=NEVER>
    <META name=page-type content="Private Homepage">
    <META name=robots content=INDEX,FOLLOW>
    <META name=Author content="Holger Slomka">
    <META name=Content-Language content=IS>
    <META name=revisit-after content="10 days">
    <META name=description content="learning icelandic" >
    <meta charset="UTF-8">

    <!-- hslomka.de stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
        "popup": {
          "background": "#3c404d",
          "text": "#d6d6d6"
        },
        "button": {
          "background": "#93c54b",
          "text": "#3e3f3a"
        }
        },
        "theme": "edgeless",
        "position": "bottom-right",
        "content": {
        "message": "Mit der Nutzung der Seiten und Services erkl&auml;ren Sie sich damit einverstanden, dass ich Cookies verwende.",
        "dismiss": "Verstanden !",
        "link": "Datenschutzerkl&auml;rung",
        "href": "https://slomka.biz/de/privacy.html"
        }
      })});
    </script>

    <title>Læra islensku</title>
  </head>

  <body>

    <br>
    <h1>Welkomin til 'Við lærum islensku!'</h1>
    <p/>
    Hvernig segir maður <br>
    <div class="wort">{{ wort }}</div>
    á íslensku?
    <br><br><br>
    <form method='POST' action='/lausn'>
        <p><input value='Sýna lausn' type='SUBMIT'></p>
    </form>
    <br><br><br><br><br>
    <hr class="bluelarge">

    <table class="link" style="width:90%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
      <tbody>
        <tr>
          <td style="width: 30%; text-align: left;">
            <a href=http://www.hslomka.de/>hslomka.de</a>
            <a href="https://github.com/slommi71/icelandic_exercise_generator#webapp">Source Code</a>
          </td>
          <td style="width: 30%; text-align: center">
            <a href=http://www.slomka.biz>slomka.biz</a>
          </td>
          <td style="width: 70%; text-align: right;">
            <a href="http://www.slomka.biz/de/impressum.html" name="Impressum"><span class="small2">Impressum</span></a>
            <a href="http://www.slomka.biz/de/disclaimer.html" name="Disclaimer"><span class="small2">Disclaimer</span></a>
            <a href="http://www.slomka.biz/de/privacy.html" name="Datenschutz"><span class="small2">Datenschutz</span></a>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
<html>