<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Læra islensku</title>
  </head>
  <body>
    <h1>Welkomin til 'Við lærum islensku!'</h1>
    <h2>Lausn</h2>
    <div class="wort">{{ wort }}</div>
    <br>
    <div class=".arnastofnun">

      <h2>Beygingarmynd</h2>

      <table class=".tcenter" cellpadding="6">
        <thead>
            <tr class="thead-light">
              <th></th>
              <th colspan="2" align="center">Eintala</th>
              <th></th>
              <th colspan="2" align="center">Fleirtala</th>
            </tr>
            <tr>
            </tr>
            <tr>
              <td width="10%"></td>
              <td width="20%" align="center">án&nbsp;greinis</td>
              <td width="20%" align="center">með&nbsp;greini</td>
              <td width="10%"></td>
              <td width="20%" align="center">án&nbsp;greinis</td>
              <td width="20%" align="center">með&nbsp;greini</td>
            </tr><tr>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td>Nf.</td>
            <td><span class="VO_beygingarmynd">{{ nf1 }}</span></td>
            <td><span class="VO_beygingarmynd">{{ nf2 }}</span></td>
            <td></td>
            <td><span class="VO_beygingarmynd">{{ nf3 }}</span></td>
            <td><span class="VO_beygingarmynd">{{ nf4 }}</span></td>
          </tr>
          <tr>
            <td>Þf.</td>
            <td><span class="VO_beygingarmynd">{{ pf1 }}</span></td>
            <td><span class="VO_beygingarmynd">{{ pf2 }}</span></td>
            <td></td>
            <td><span class="VO_beygingarmynd">{{ pf3 }}</span></td>
            <td><span class="VO_beygingarmynd">{{ pf4 }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>
    <div class="link">Wort bei <a href="https://bin.arnastofnun.is/{{ arnastofnun }}"> arnastofnun.is</a> ansehen.</div>
    <br>
    <form method='POST' action='/'>
        <p><input value='næst' type='SUBMIT'></p>
    </form>
  </body>
<html>