<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Læra islensku</title>
  </head>
  <body>
    <h1>Welkomin til 'Við lærum islensku!'</h1>
    <h2>Lausn - sagnorð</h2>
    <div class="wort">{{ wort }}</div>
    <br>
    <hr class="blue">
    <div class="arnastofnun">

      <h2>Beygingarmynd</h2>

      <table class="tcenter" cellpadding="6">
        <thead>
            <tr class="thead-light">
              <th></th>
              <th colspan="3" align="center">Eintala</th>
              <th></th>
              <th colspan="3" align="center">Fleirtala</th>
            </tr>
            <tr>
            </tr>
            <tr class="thead-light">
              <td width="10%"></td>
              <td width="20%" align="center"><em>án&nbsp;greinis</em></td>
              <td width="20%" align="center">með&nbsp;greini</td>
              <td width="10%"></td>
              <td width="20%" align="center">án&nbsp;greinis</td>
              <td width="20%" align="center">með&nbsp;greini</td>
            </tr><tr>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td class="thead-light">Nútíð</td>
            <td><span class="VO_beygingarmynd">ég {{ fn1 }}</span></td>
            <td><span class="VO_beygingarmynd">þu {{ fn2 }}</span></td>
            <td><span class="VO_beygingarmynd">hann/hún/það {{ fn3 }}</span></td>
            <td></td>
            <td><span class="VO_beygingarmynd">við {{ fn4 }}</span></td>
            <td><span class="VO_beygingarmynd">pið {{ fn5 }}</span></td>
            <td><span class="VO_beygingarmynd">Þeir/Þær/Þau {{ fn6 }}</span></td>
          </tr>
          <tr>
            <td class="thead-light">Þátíð</td>
            <td><span class="VO_beygingarmynd">ég {{ fp1 }}</span></td>
            <td><span class="VO_beygingarmynd">þu {{ fp2 }}</span></td>
            <td><span class="VO_beygingarmynd">hann/hún/það {{ fp3 }}</span></td>
            <td></td>
            <td><span class="VO_beygingarmynd">við {{ fp4 }}</span></td>
            <td><span class="VO_beygingarmynd">pið {{ fp5 }}</span></td>
            <td><span class="VO_beygingarmynd">Þeir/Þær/Þau {{ fp6 }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <hr class="blue">
    <br><br>
    <div class="link">Wort bei <a href="https://bin.arnastofnun.is/{{ arnastofnun }}"> arnastofnun.is</a> ansehen.</div>
    <br>
    <form method='POST' action='/'>
        <p><input value='næst' type='SUBMIT'></p>
    </form>
    <br><br>
    <hr class="bluelarge">

    <table class="link" style="width:90%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
      <tbody>
        <tr>
          <td style="width: 30%; text-align: left;">
            <a href=http://www.hslomka.de/>hslomka.de</a>
          </td>
          <td style="width: 30%; text-align: center">
            <a href=http://www.slomka.biz>slomka.biz</a>
          </td>
          <td style="width: 70%; text-align: right;">
            <a href="http://www.slomka.biz/de/impressum.html" name="Impressum"><span class="small2">Impressum</span></a>
            <a href="http://www.slomka.biz/de/disclaimer.html" name="Disclaimer"><span class="small2">Disclaimer</span></a>
            <a href="http://www.slomka.biz/de/privacy.html" name="Datenschutz"><span class="small2">Datenschutz</span></a>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
<html>