
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Læra islensku</title>
        <meta http-equiv=Content-Type content=text/html;charset=ISO-8859-1>
        <meta name=publisher content="Holger Slomka">
        <meta name=copyright content="H. Slomka">
        <meta name=page-topic content=learnign islandic>
        <meta name=audience content=All>
        <meta name=expires content=NEVER>
        <meta name=page-type content="Private Homepage">
        <meta name="robots" content="index, follow">
        <meta name=Author content="Holger Slomka">
        <meta name=Content-Language content=IS>
        <meta name=revisit-after content="10 days">
        <meta name=description content="learning icelandic" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- icons -->
		<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
		<link rel="shortcut icon" href="assets/favicon.ico">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
			"palette": {
			"popup": {
			"background": "#3c404d",
			"text": "#d6d6d6"
			},
			"button": {
			"background": "#93c54b",
			"text": "#3e3f3a"
			}
			},
			"theme": "edgeless",
			"position": "bottom-right",
			"content": {
			"message": "Mit der Nutzung der Seiten und Services erkl&auml;ren Sie sich damit einverstanden, dass ich Cookies verwende.",
			"dismiss": "Verstanden !",
			"link": "Datenschutzerkl&auml;rung",
			"href": "https://slomka.biz/de/privacy.html"
			}
		})});
		</script>
	</head>

	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">Velkomin til 'Við lærum islensku!'</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
					<li class="selected">þjálfari/Vokabeltrainer</li>
					<li><a href="/xlsx">Æfingar/Übungsblätter</a></li>
					<li><a href="/grammar">Málfræði/Grammatik</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
          <h2>Lausn nafnorð</h2>
          <div class="wort">{{ wort }}</div>
          <br>
          <div class="arnastofnun">

            <h2>Beygingarmynd</h2>

            <table class="tcenter" cellpadding="6">
              <thead class="light_lb1">
                  <tr>
                    <th></th>
                    <th colspan="2" align="center" class="thead-light-lb1">Eintala</th>
                    <th></th>
                    <th colspan="2" align="center"class="light_lb1">Fleirtala</th>
                  </tr>
                  <tr>
                  </tr>
                  <tr class="thead-light">
                    <td width="10%"></td>
                    <td width="21%" align="center"><em>án&nbsp;greinis</em></td>
                    <td width="21%" align="center">með&nbsp;greini</td>
                    <td width="6%></td>
                    <td width="21%" align="center">án&nbsp;greinis</td>
                    <td width="21%" align="center">með&nbsp;greini</td>
                  </tr><tr>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td class="light-lb1">Nf.</td>
                  <td><span class="VO_beygingarmynd">{{ nf1 }}</span></td>
                  <td><span class="VO_beygingarmynd">{{ nf2 }}</span></td>
                  <td></td>
                  <td><span class="light_lb1">{{ nf3 }}</span></td>
                  <td><span class="light_lb1">{{ nf4 }}</span></td>
                </tr>
                <tr>
                  <td class="light-lb1">Þf.</td>
                  <td><span class="VO_beygingarmynd">{{ pf1 }}</span></td>
                  <td><span class="VO_beygingarmynd">{{ pf2 }}</span></td>
                  <td></td>
                  <td><span class="light_lb1">{{ pf3 }}</span></td>
                  <td><span class="light_lb1">{{ pf4 }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br><br>
          <div class="link">Wort bei <a href="https://bin.arnastofnun.is/{{ arnastofnun }}"> arnastofnun.is</a> ansehen.</div>
		  <div class="link">Wort bei <a href="https://deis.dict.cc/?s={{ wort }}"> dict.cc</a> ansehen.</div>
          <br>
          <form method='POST' action='/'>
              <p><input value='næst' type='SUBMIT'></p>
          </form>
          <br><br>
		</div>

        <div class="aside">
					<h3>Tipps</h3>
					<p>nefnifall Nf. {hv} - Nominativ<br>
					þolfall Þf. {hv} - Akkusativ<br>
					karlkyn - maskulin<br>
					kvenkyn - feminin<br>
					hvorugkyns - neutrum<br>
					nafnorð - Substantiv<br>
					sagnorð - Verb<br>
					eintala - Einzahl<br>
					fleirtala - Mehrzahl<br>
					<hr>
					eitthvað {pron} &lt;e-ð&gt; - etwas<br>
					einhverjum {pron} &lt;e-m&gt; - jemandem<br>
					einhvern {pron} &lt;e-n&gt; - jemanden<br>
					einhver {pron} &lt;e-r&gt; - jemand<br>
					einhvers {pron} &lt;e-s&gt; - jemandes</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<table style="width:90%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
				<tbody>
					<tr>
					<td style="width: 30%; text-align: left;">
						<a href=http://www.hslomka.de/>hslomka.de</a>
						<a href="https://github.com/slommi71/icelandic_exercise_generator#webapp">Source Code (Github)</a>
					</td>
					<td style="width: 30%; text-align: center">
						<a href=http://www.slomka.biz>slomka.biz</a>
					</td>
					<td style="width: 70%; text-align: right;">
						<a href="http://www.slomka.biz/de/impressum.html" name="Impressum"><span class="small2">Impressum</span></a>
						<a href="http://www.slomka.biz/de/disclaimer.html" name="Disclaimer"><span class="small2">Disclaimer</span></a>
						<a href="http://www.slomka.biz/de/privacy.html" name="Datenschutz"><span class="small2">Datenschutz</span></a>
					</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</body>
</html>