h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body {
    font-size: 24px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 114, 204);
}

.wort {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Papyrus;
    color:rgb(16, 49, 110);
    margin-bottom: 5px;
}
.link {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.arnastofnun {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tcenter {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #2a7edd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
    border-color: whitesmoke;
}

input[type=submit] {
    padding: 5px 15px;
    background: #2a7edd;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-family: fantasy;
}

hr.blue {
    border-top: 1px solid #2a7edd;
}
/* Large rounded green border */
hr.bluelarge {
    border: 6px solid #2a7edd;
    border-radius: 3px;
}