/* -----------------------
Base styles
------------------------*/

body {
    margin: 0;
    padding: 0;
    color: rgb(65, 114, 204);
    background-color: #eee;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(3, 49, 92);
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.375em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: .75em;
}

p {
    margin: 0 0 1.5em;
    line-height: 1.5;
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    font-size: small;
}

th,
td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

a:link {
    color: royalblue;
}

a:visited {
    color: rgb(6, 35, 88);
}

a:focus {
    color: rgb(231, 239, 255);
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

/* -----------------------
Layout styles
------------------------*/

.container {
    max-width: 70em;
    margin: 0 auto;
}

.header {
    color: #fff;
    background: rgb(139, 179, 252);
    padding: 1em 1.25em;
}

.header-heading {
    margin: 0;
}

.nav-bar {
    background: rgb(45, 69, 114);
    padding: 0;
}

.content {
    overflow: hidden;
    text-align: center;
    padding: 1em 1.25em;
    background-color: #fff;
    font-size: 1.35em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main,
.aside {
    margin-bottom: 1em;
}

.aside {
    font-size: 0.75em;
}

.footer {
    color: #fff;
    background: rgb(183, 194, 216);
    padding: 1em 1.25em;
    font-size: 0.5em;
}

/* -----------------------
Nav
------------------------*/

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    margin: 0;
}

.nav a {
    display: block;
    padding: .7em 1.25em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.nav a:link {
    color: white;
}

.nav a:visited {
    color: white;
}

.nav a:focus {
    color: black;
    background-color: white;
}

.nav a:hover {
    color: white;
    background-color: royalblue;
}

.nav a:active {
    color: white;
    background-color: red;
}

.selected {
    background-color: white;
    color: #2a7edd;
}
/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.btn {
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff !important;
    background-color: royalblue;
}

.btn:focus {
    color: #fff !important;
    background-color: black;
}

.btn:active {
    color: #fff !important;
    background-color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 55em) {
    .header {
        padding: 1.5em 3em;
    }

    .nav-bar {
        padding: 1em 3em;
    }

    .content {
        padding: 2em 3em;
    }

    .main {
        float: left;
        width: 65%;
        margin-right: 5%;
        margin-bottom: 1em;
    }

    .aside {
        float: left;
        width: 30%;
        margin-bottom: 1em;
    }

    .footer {
        padding: 2em 3em;
    }

    .nav li {
        display: inline;
        margin: 0 1em 0 0;
    }

    .nav a {
        display: inline;
        padding: 0;
        border-bottom: 0;
    }
}

.wort {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Papyrus;
    color: rgb(16, 49, 110);
    margin-bottom: 5px;
}

.link {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.arnastofnun {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tcenter {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.VO_beygingarmynd {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.light_lb1,
.thead-light-lb1 {
    background-color: #bcd7f55d;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    text-align: center;
}

.thead-light {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #2a7edd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: whitesmoke;
}

input[type=submit] {
    padding: 5px 15px;
    background: #2a7edd;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-family: fantasy;
}

hr.blue {
    border-top: 1px dotted #cee5ff;
}

/* Large rounded green border */
hr.bluelarge {
    border: 4px solid #2a7edd;
    border-radius: 2px;
}
